.App {
  text-align: center;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

/* Navbar */
.nav-menu {
  background-color: #0e0000;
  padding: 0.5rem 1rem;
  display: flex;
  justify-content: space-between; /* space logo on left, links on right */
  align-items: center;
  color: aliceblue;
}

/* Logo inside navbar */
.nav-logo {
  height: 40px; /* smaller size */
  width: auto;
  object-fit: contain;
  background-color: aliceblue; /* keep proportions */
}

/* Navigation links */
.nav-links {
  display: flex;
  gap: 2rem;
  color: #fffefe;

}

.nav-links a {
  color: white; /* ensure white text */
  text-decoration: none;
  font-size: 1.1rem;
  padding: 0.5rem 1rem;
  border-radius: 4px;
  transition: background-color 0.3s ease;
}

.nav-menu a,
.nav-menu a:visited,
.nav-menu a:active {
  color: white;
  text-decoration: none;
}

.nav-menu a:hover {
  background-color: #555;
  color: #61dafb; /* optional hover color */
}


/* Main Content */
.main-content {
  flex: 1;
  padding: 2rem;
  background-color: #faf8f8
}
